<div>
    <div class="row">
        <div class="col-sm-7">
            <h2 translate="healthpointsApp.points.home.title">Points</h2>
            <jhi-alert></jhi-alert>
        </div>
        <div class="col-sm-5 text-right">
            <form name="searchForm" class="form-inline">
                <div class="form-group p-r">
                    <input type="text" id="searchQuery"
                           class="form-control" ng-model="vm.searchQuery"
                           placeholder="{{'healthpointsApp.points.home.search' | translate}}">
                </div>
                <button class="btn btn-info btn-sm" ng-click="vm.search(vm.searchQuery)"
                        tooltip="{{'healthpointsApp.points.home.search' | translate}}">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
                <button class="btn btn-primary btn-sm " ui-sref="points.new"
                        tooltip="{{'healthpointsApp.points.home.createLabel' | translate}}">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                <th translate="healthpointsApp.points.date">Date</th>
                <th translate="healthpointsApp.points.exercise">Exercise</th>
                <th translate="healthpointsApp.points.meals">Meals</th>
                <th translate="healthpointsApp.points.alcohol">Alcohol</th>
                <th translate="healthpointsApp.points.note">Note</th>
                <th translate="healthpointsApp.points.user">User</th>
                <th translate="healthpointsApp.points.actions" class="col-md-2">Actions</th>

            </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
            <tr ng-repeat="points in vm.points track by points.id">
                <td>{{points.date | date:'mediumDate'}}</td>
                <td class="text-center">
                    <i class="glyphicon"
                       ng-class="{'glyphicon-ok text-success': points.exercise,'glyphicon-remove text-danger': !points.exercise}"></i>
                </td>
                <td class="text-center">
                    <i class="glyphicon"
                       ng-class="{'glyphicon-ok text-success': points.meals,'glyphicon-remove text-danger': !points.meals}"></i>
                </td>
                <td class="text-center">
                    <i class="glyphicon"
                       ng-class="{'glyphicon-ok text-success': points.alcohol,'glyphicon-remove text-danger': !points.alcohol}"></i>
                </td>
                <td>
                    <div class="truncate cursor" popover="{{points.note}}">{{points.note}}</div>
                </td>
                <td>{{points.user.login}}</td>
                <td>
                    <div class="btn-group m-n">
                        <button type="submit" tooltip="{{'entity.action.view' | translate}}"
                                ui-sref="points.detail({id:points.id})" class="btn btn-info btn-xs">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <button type="submit" tooltip="{{'entity.action.edit' | translate}}"
                                ui-sref="points.edit({id:points.id})" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="submit" tooltip="{{'entity.action.delete' | translate}}"
                                ng-click="delete(points.id)" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
